{% extends 'base/base.html' %}
{% load static %}

{% block title %}Clientes{% endblock %}

{% block content %}
    
    
       <div class="m-5"> 
            <div class = "text-center">
                
                <a
                class="btn btn-secondary btn-floating m-1 btn-lg"
                class="text-white"
                role="button"
                href="{% url 'registroCliente' %}"
                ><i class="bi bi-plus-circle "></i> Registrar nuevo Cliente</a>
                
                
            </div>

            {% if clientes  %}
            <h1 class ="m-3">Listado Clientes</h1>
            <table class="table align-middle  table-hover">
                <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">País</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Acción</th>
                </tr>
                </thead>
                <tbody class="table-light">
                    {% for cliente in clientes %} 
                        <tr>
                            <th scope="row">{{cliente.id}}</th>
                            <td>{{cliente.nombre}} {{cliente.apellido}}</td>
                            <td>{{cliente.pais}}</td>
                            <td>{{cliente.edad}}</td>
                            <td>
                            <button type="button" class="btn btn-link btn-sm px-3" data-ripple-color="dark">
                                <i class="material-icons" style="font-size:24px; color:black">border_color</i>
                            </button>
                            <button type="button" class="btn btn-link btn-sm px-3" data-ripple-color="dark">
                                <i class="fa fa-trash-o" style="font-size:24px; color:red"></i>
                            </button>

                            
                            
                            </td>
                        </tr>
                        
                    {% endfor %}
                </tbody>
            </table>
        
            {% else %}
            <h1>No hay usuarios registrados</h1>
        </div>

    {% endif %}
{% endblock %}